<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Desktop.Properties.Settings>
            <setting name="SpeedUnit" serializeAs="String">
                <value>Mbps</value>
            </setting>
        </Desktop.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Desktop.Properties.Settings>
            <setting name="SpeedTestUri" serializeAs="String">
                <value>http://localhost:5252/api/SpeedTest/</value>
            </setting>
            <setting name="LocationUri" serializeAs="String">
                <value>http://localhost:5252/api/Location/</value>
            </setting>
        </Desktop.Properties.Settings>
    </applicationSettings>
</configuration>